src/main/resources/schema/protocol.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="protocol" type="protocol"/>

  <xs:complexType name="protocol">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="balsastyle" type="xs:string"/>
      <xs:element name="delaymatchfile" type="xs:string"/>
      <xs:element name="stgindexfile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

